$height: 48px;
$margin: 40px;

.item {
    display: block;
    width: 100%;
    height: $height;
    color: #000;
}

.item-title {
    float: left;
    width: 60%;
    height: $height;
    line-height: $height;
    font-size: 24px;
    text-indent: $margin; /*no*/
}

.item-date {
    transform: translate3d(0, 0, 0);
    float: left;
    width: 40%;
    height: $height;
    padding-right: $margin; /*no*/
    box-sizing: border-box;
    text-align: right;
    font-style: italic;
    line-height: $height;
    color: #ccc;
    font-size: 16px;
}
