#parseTmpl("/snippet/meta.html")
<title>${title}</title>
<% if (serviceWorker) { %>
<script>
    if ('serviceWorker' in window.navigator) {
        window.addEventListener('load', function () {
            window.navigator.serviceWorker.register('/service-worker.js')
                .then(function (r) {
                    console.log('ServiceWorker registration succeeded with scope: ', r.scope)
                }).catch(function (e) {
                    console.error('ServiceWorker registration failed: ', e)
                });
        });
    }
</script>
<% } %>
#parseTmpl("/snippet/css.ejs")