#header {
    line-height: 48px;
    background: #ccc;
}

#header > * {
    display: block;
}

.btn-left,
.btn-right {
    color: #000;
    font-size: 16px;
    background: none;
    margin: 0 16px;
    border: none;
    padding: 0;
    text-decoration: underline;
}

#header .btn-left {
    float: left;
}
#header .btn-right {
    float: right;
}